{
  "openapi": "3.1.0",
  "info": {
    "title": "Sixtyfour API",
    "description": "API for finding and enriching business data",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.sixtyfour.ai"
    }
  ],
  "security": [
    {
      "apiKeyAuth": []
    }
  ],
  "components": {
    "securitySchemes": {
      "apiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key"
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "SearchRequest": {
        "type": "object",
        "required": ["search_query", "struct"],
        "properties": {
          "search_query": {
            "type": "string",
            "description": "Natural language description of businesses to find"
          },
          "struct": {
            "type": "object",
            "description": "Fields to collect for each business",
            "additionalProperties": {
              "type": "string"
            }
          }
        }
      },
      "EnrichRequest": {
        "type": "object",
        "required": ["target_company", "struct"],
        "properties": {
          "target_company": {
            "type": "object",
            "description": "Company data to enrich"
          },
          "struct": {
            "type": "object",
            "description": "Additional fields to collect",
            "additionalProperties": {
              "type": "string"
            }
          },
          "find_people": {
            "type": "boolean",
            "description": "Whether to find people associated with the company"
          },
          "research_plan": {
            "type": "string",
            "description": "Optional research plan to guide enrichment"
          },
          "people_focus_prompt": {
            "type": "string",
            "description": "Description of people to find"
          }
        }
      },
      "FindEmailRequest": {
        "type": "object",
        "required": ["lead"],
        "properties": {
          "lead": {
            "type": "object",
            "description": "Lead information to find email for"
          }
        }
      },
      "EnrichLeadRequest": {
        "type": "object",
        "required": ["lead_info", "struct"],
        "properties": {
          "lead_info": {
            "type": "object",
            "description": "Initial lead information as key-value pairs",
            "additionalProperties": {
              "type": "string"
            },
            "example": {
              "name": "Saarth Shah",
              "title": "CEO & Co-Founder @ Sixtyfour AI",
              "company": "Sixtyfour AI"
            }
          },
          "struct": {
            "type": "object",
            "description": "Fields to collect about the lead",
            "additionalProperties": {
              "type": "string"
            }
          }
        }
      }
    }
  },
  "paths": {
    "/search": {
      "post": {
        "summary": "Search for businesses",
        "description": "Search for businesses based on natural language query",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "List of matching businesses",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "maxItems": 1000,
                  "items": {
                    "type": "object"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/enrich-company": {
      "post": {
        "summary": "Enrich company data",
        "description": "Enrich company data with additional information and find associated people",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EnrichRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Enriched company data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "notes": {
                      "type": "string",
                      "description": "Detailed analysis and summary of the company"
                    },
                    "structured_data": {
                      "type": "object",
                      "description": "Enriched company information in structured format",
                      "properties": {
                        "Company Name": { "type": "string" },
                        "Company Location": { "type": "string" },
                        "Website Url": { "type": "string" },
                        "Number of Employees": { "type": "string" },
                        "Industry": { "type": "string" },
                        "num_followers": { "type": "string" },
                        "num_posts": { "type": "string" },
                        "whatnot_score": { "type": "string" },
                        "approx_inventory_count": { "type": "string" },
                        "instagram_url": { "type": "string" }
                      }
                    },
                    "findings": {
                      "type": "array",
                      "maxItems": 1000,
                      "items": {
                        "type": "string"
                      },
                      "description": "List of key findings about the company"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/find-email": {
      "post": {
        "summary": "Find email address",
        "description": "Find email address for a lead",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FindEmailRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Email address information",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/enrich-lead": {
      "post": {
        "summary": "Enrich lead information",
        "description": "Enrich lead information with additional details",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EnrichLeadRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Enriched lead data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "notes": {
                      "type": "string",
                      "description": "Detailed notes about the lead and enrichment process"
                    },
                    "structured_data": {
                      "type": "object",
                      "description": "Enriched lead information in structured format",
                      "properties": {
                        "name": { "type": "string" },
                        "email": { "type": "string" },
                        "phone": { "type": "string" },
                        "company": { "type": "string" },
                        "title": { "type": "string" },
                        "linkedin": { "type": "string" },
                        "website": { "type": "string" },
                        "location": { "type": "string" },
                        "industry": { "type": "string" },
                        "github_url": { "type": "string" },
                        "github_notes": { "type": "string" }
                      }
                    },
                    "findings": {
                      "type": "array",
                      "maxItems": 1000,
                      "items": {
                        "type": "string"
                      },
                      "description": "List of key findings about the lead"
                    },
                    "references": {
                      "type": "object",
                      "description": "Sources used for enrichment with descriptions",
                      "additionalProperties": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  }
}